.btn-gradient {
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #7FBCD2;
  border: none;
  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(#A5F1E9, #7FBCD2);
    border: none;
  }
}
